<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Serviços</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>Novos Anúncios<br/></h4>
    <ion-list>
      <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
        <ion-icon [name]="item.icon" item-left></ion-icon>
        {{item.title}}
        <div class="item-note" item-right>
          {{item.note}}
        </div>
      </button>
    </ion-list>
  <div *ngIf="selectedItem" padding>
    Você está navegando no - <b>{{selectedItem.title}} </b> -
  </div>
</ion-content>
