#perfil-img{
  width: 75px;
  height: 75px;
  margin-left: 8%;
  margin-top: 2%;
}

#bemvindo{
  margin-left: 38%;
  margin-top: -17%;
}

.botao-login{
  background: #29e8a9;
  margin-top: 10%;
  margin-left: 8%;
}

.botao-login:hover{
    background: #145233 !important;
}

.botao-cadastro{
  background: #29e8a9;
  margin-top: 10%;
}

.botao-cadastro:hover{
    background: #145233 !important;
}
